#encoding: utf-8
<p id="notice"><%=notice%></p>
<div id = "body">
<p><%= button_to("新規スレッド", new_article_path) %></p>
<p><%= link_to("新規スレッド", new_article_path) %></p>
<br>
<% @articles.each do |article| %>
 <%= link_to article.title, "#article_" + article.id.to_s %>
<% end %>

<% @articles.each do |article| %>
 <div id = "article_<%= article.id %>">
    <h2>
      <%=article.id %>
      <%=article.title %>
      <%= link_to 'Edit', edit_article_path(article) %>
    </h2>
    <p>
      <%= count = 1 %>
      <%=article.name %>

 	    <%= simple_time(article.updated_at) %>
 	  </p>
 	  <p>
 	   <%=simple_format article.content %>
 	  </p>

 	  <% article.responses.each do |response| %>

     <p>
      <%= count = count + 1 %>
      <%=response.name %>

 	  	<%= simple_time(response.updated_at) %>
 	   </p>
 	   <p>
 	   	<%=simple_format response.content %>
    <%= link_to t('削除', :default => t("helpers.links.destroy")),
             root_path(@response),
              :action => 'destroy',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
 	   </p>

		<% end %>
  <%= form_for(@response) do |f| %>
     <% if @response.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
     </div>
    <% end %>

   <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">

    <div class="controls">
      <%= f.hidden_field :article_id, :value => article.id ,:class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>

  </div>
  <%= link_to "top", "#"%>
  <% end %>
</div>
<% end %>

</div>


