#encoding: utf-8
<div id="notice"><%= notice %></div>
<div id = "body">

<p><%= link_to("新規スレッド", new_article_path) %></p>
<br>
<% @articles.each do |article| %>
 <%= link_to article.title, "#article_" + article.id.to_s %>
<% end %>

<% @articles.each do |article| %>
 <div id = "article_<%= article.id %>">
    <h2>
      <%=article.id %>
      <%=article.title %>
      <%= link_to 'Edit', edit_article_path(article) %>
    </h2>
    <p>
      <%= count = 1 %>
      <%=article.name %>

 	    <%= simple_time(article.updated_at) %>
 	  </p>
 	  <p>
 	   <%=simple_format article.content %>
 	  </p>


</div>
<% end %>

</div>


