#encoding: utf-8
<%- model_class = Article -%>
<div id="notice"><%= notice %></div>
<div id = "body">
  <ul class="breadcrumb">
    <li><a href="">Home</a> <span class="divider">/</span></li>
    <li><a href="">Articles</a> <span class="divider">/</span></li>
    <li class="active"><%= @article.title %></li>
</ul>
<hr>
<div class="page-header">
  <h1><dt><%= @article.title %></dt></h1>
</div>
<ul>
<p>
  <dt>日時:<%= simple_time(@article.updated_at) %></dt>
  <dt>名前:<%= @article.name %></dt>
</p>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:<%= @article.email %></strong></dt>

  <br>

  <p><%= simple_format @article.content %></p>
</ul>
<br>
<ul>
 <% count = 1 %>
<% if @article.responses.any? %>
  <% @article.responses.each do |response| %>
   <p>
    <%= count %>
    <%= response.name %>
    <%= simple_time(response.created_at) %>
    <% count = count+1 %>
   </p>
   <p><%=simple_format response.content %></p>
  <% end %>
<% else %>
<li>no comment yet.</li>
<% end %>
</ul>

 <%= form_for(@response) do |f| %>
     <% if @response.errors.any? %>
       <div id="error_explanation">
       <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>
       <ul>
       <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
       <% end %>
      </ul>
      </div>
      <% end %>
<ul>
   <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">

    <div class="controls">
      <%= f.hidden_field :article_id, :value => @article.id ,:class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
</ul>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              articles_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_article_path(@article), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              article_path(@article),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
